<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matt.flashcards">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SP_CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/activity_about_title"
            android:parentActivityName=".SP_CategoryActivity" />
        <activity
            android:name=".AddEditActivity" />
        <activity
            android:name=".FlashcardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".SP_CategoryActivity" />
        <activity
            android:name=".FlashcardDragListViewActivity"
            android:parentActivityName=".FlashcardActivity" />
        <activity
            android:name=".BoardActivity"
            android:label="@string/rearrange_flashcards"
            android:parentActivityName=".SP_CategoryActivity" />
        <activity
            android:name=".DeckDragListViewActivity"
            android:label="@string/rearrange_decks"
            android:parentActivityName=".SP_CategoryActivity" />
    </application>
</manifest>
