<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matt.flashcards">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SP_CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SP_FlashcardCreatorActivity"
            android:parentActivityName=".SP_CategoryActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".SP_FlashcardViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".SP_CategoryActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".SP_CategoryActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SP_CategoryActivity" />
        <activity
            android:name=".ThemeActivity"
            android:label="@string/title_activity_theme"
            android:parentActivityName=".SettingsActivity" />
        <activity android:name=".AddEditActivity" />
        <activity
            android:name=".SP_FlashcardViewerActivity$FlashcardListActivity"
            android:parentActivityName=".SP_FlashcardViewerActivity" />
    </application>

</manifest>